:root {
    font-family: Roboto, Helvetica, sans-serif;
}

.body, .container {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 10fr 0.5fr;
    grid-template-areas: "header"
                         "content"
                         "footer";
}

.header {
    grid-area: header;

    background-color: black;
    box-shadow: 0 0 0.7rem black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > button {
    margin-right: 10rem;

    background-color: white;
    box-shadow: 0 0 0.2rem white;
    
    border: 1px solid white;
    border-radius: 12px;

    width: 12rem;
    height: 3.5rem;

    font-size: 20px;
    font-weight: 700;
}

.headerText {
    margin-left: 10rem;
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.content {
    grid-area: content;
    height: 80vh;
    background-color: black;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.cards{
    position: absolute;
    max-height: 80%;
    max-width: 80%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 4fr));
    grid-row-gap: 5rem;
    grid-column-gap: 5rem;
}

.card {
    width: clamp(50px, 8rem, 200px);
    height: clamp(100px, 12rem, 300px);
    background-color: crimson;
    place-self: center;
}

.content > img {
    max-height: 80%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    position: absolute;
}

.footer{
    max-height: 5vh;
    grid-area: footer;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    background-color: black;
    box-shadow: 0 0 0.3rem black; 
}

.footer > img {
    max-height: 50%;
    max-width: auto;
}

.fText {
    color: #FFFBEB;
    text-decoration: none;
    font-size: 18px;
}